@inject SignInManager<ApplicationUser> _signInManager
@inject UserManager<ApplicationUser> _userManager
@inject IUnitOfWork<UserProfile> _userProfile
@inject IUnitOfWork<SiteInfo> _siteInfo



<!DOCTYPE html>

@* <html lang="en" dir="ltr"> *@
<head>
    <meta name="viewport" content="width=device-width" />
    @* --------------------------------------------------------------- *@
    @{
        var siteInfo = _siteInfo.Entity.GetAll().SingleOrDefault();

        if (siteInfo != null)

        {

            if (siteInfo.LogoUrl != null)

            {
                <link rel="Shortcut Icon" href="~/pictures/@siteInfo.LogoUrl" />
            }

            else

            {
                <link rel="Shortcut Icon" href="~/img/logo.png" />
            }



            if (@ViewData["Title"] != null)

            {
                <title>@ViewData["Title"] - @siteInfo.Name</title>
            }

            else

            {
                <title>@siteInfo.Name</title>
            }



            ViewBag.SiteName = @siteInfo?.Name;

            ViewBag.LogoUrl = @siteInfo?.LogoUrl;

        }
    }
    @* --------------------------------------------------------------- *@
    <environment include="Development">
        <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    </environment>
    <environment include="Staging,Production">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    </environment>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    @*------------------------------ Dashboard template -------------------------------*@
    <link rel="stylesheet" href="~/assets1/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/assets1/css/style.css">
    @* ------------------------------------------------------------------------------ *@
  @*   <link href="~/css/template.css" rel="stylesheet" /> *@
     @* <link href="~/css/dashboard.css" rel="stylesheet" /> *@

</head>
<body>

    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row border-bottom">
            <!-- منطقة الشعار -->
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">

                @if (ViewBag.LogoUrl != null)

                {
                    <a class="navbar-brand brand-logo" asp-controller="Home" asp-action="Index"><img src="~/pictures/@ViewBag.LogoUrl" alt="logo" style="width:40px;height:40px;" /></a>
                    <a class="navbar-brand brand-logo-mini" asp-controller="Home" asp-action="Index"><img src="~/pictures/@ViewBag.LogoUrl" alt="logo" style="width:40px;height:40px;" /></a>
                }

                else

                {

                    <a class="navbar-brand brand-logo" asp-controller="Home" asp-action="Index"><img src="~/img/logo.png" alt="logo" style="width:40px;height:40px;" /></a>
                    <a class="navbar-brand brand-logo-mini" asp-controller="Home" asp-action="Index"><img src="~/img/logo.png" alt="logo" style="width:40px;height:40px;" /></a>
                }
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-stretch">
                <a class="navbar-toggler navbar-toggler align-self-center mt-4 fs-2" style="cursor:pointer" data-toggle="minimize">
                    <span class="mdi mdi-menu"></span>
                </a>

                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item nav-profile dropdown">
                        <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">

                            <!--------------------------------------------------------------------------------->
                            @{
                                var userProfile = _userProfile.Entity.GetWhere(a => a.UserId == _userManager.GetUserId(User)).FirstOrDefault();

                                if (userProfile != null)

                                {
                                    <div class="nav-profile-img">
                                        <img src="~/pictures/userProfile/@userProfile.ImageUrl" alt="no img" />
                                    </div>
                                    <div class="nav-profile-text">
                                        <p class="mb-1 text-black">@userProfile.DisplayName</p>
                                    </div>

                                    ViewBag.ImageUrl = userProfile.ImageUrl;

                                }

                                else

                                {
                                    <div class="nav-profile-img">
                                        <img src="~/img/User.png" alt="no img" />
                                    </div>
                                    <div class="nav-profile-text">
                                        <p class="mb-1 text-black">@User.Identity.Name</p>
                                    </div>
                                }

                            }

                            <!--------------------------------------------------------------------------------->
                        </a>

                        <div class="dropdown-menu navbar-dropdown dropdown-menu-right p-0 border-0 font-size-sm" aria-labelledby="profileDropdown" data-x-placement="bottom-end">
                            <div class="p-3 text-center bg-primary">
                                <img class="img-avatar img-avatar48 img-avatar-thumb" src="~/pictures/userProfile/@ViewBag.ImageUrl" alt="">
                            </div>
                            <div class="p-2">
                                @if (User.IsInRole("EmployeeRequest") || User.IsInRole("Employee"))

                                {
                                    <a class="dropdown-item fs-6" asp-action="EmployeeProfile" asp-controller="Account" asp-route-UserId="@_userManager.GetUserId(User)">
                                        Employee Profile<i class="bi badge-info" style="float:right"></i>
                                    </a>
                                }
                                <h5 class="dropdown-header text-uppercase  pl-2 text-dark mt-2">Account</h5>

                                <a class="dropdown-item py-1 d-flex align-items-center justify-content-between" asp-action="UserProfile" asp-controller="Account" asp-route-UserId="@_userManager.GetUserId(User)" target="_blank">
                                    <span>Profile</span>
                                    <span class="p-0">
                                        <span class="badge badge-success"></span>
                                        <i class="mdi mdi-account-outline ml-1"></i>
                                    </span>
                                </a>
                                <a class="dropdown-item py-1 d-flex align-items-center justify-content-between" href="javascript:void(0)">
                                    <span>Settings</span>
                                    <i class="mdi mdi-settings"></i>
                                </a>
                                <div role="separator" class="dropdown-divider"></div>
                                <h5 class="dropdown-header text-uppercase  pl-2 text-dark mt-2">Signed in</h5>

                                <a class="dropdown-item py-1 d-flex align-items-center justify-content-between" asp-action="Logout" asp-controller="Account">
                                    <span>Log Out</span>
                                    <i class="mdi mdi-logout ml-1"></i>
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            @* يظهر في الشاشات الصغيرة *@
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center me-2 fs-3" type="button" data-toggle="offcanvas">
                <span class="mdi mdi-menu"></span>
            </button>
        </nav>

        <!-- partial -->

        <div class="container-fluid page-body-wrapper ">
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link mt-3" asp-controller="Admin" asp-action="Index">
                            <span class="icon-bg"><i class="mdi mdi-view-dashboard menu-icon"></i></span>
                            <span class="menu-title">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-route-Type="New" asp-controller="CompanyQuestion" asp-action="Index">
                            <span class=""><i class=" menu-icon"></i></span>
                            <span class="menu-title"> Over Sight </span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-route-Type="Old" asp-controller="CompanyQuestion" asp-action="Index">
                            <span class=""><i class=" menu-icon"></i></span>
                            <span class="menu-title">All Opratris</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="AirPortRequests" asp-action="Index">
                            <span class="icon-bg"><i class=" menu-icon"></i></span>
                            <span class="menu-title"> Overflight Requests </span>
                        </a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Landing" asp-action="Index">
                            <span class="icon-bg "><i class=" menu-icon"></i></span> <!-- أيقونة مناسبة لـ Over Air Request -->
                            <span class="menu-title">Landing Requests</span> <!-- تم تحسين الاسم قليلاً -->
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-controller="BookingAppointment" asp-action="Index">
                            <span class="icon-bg"><i class=" menu-icon"></i></span>
                            <span class="menu-title"> Create Appointment </span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-route-Type="Old" asp-controller="CompanyQuestion" asp-action="Index">
                            <span class="icon-bg"><i class=" menu-icon"></i></span>
                            <span class="menu-title">All Opratris</span>
                        </a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link mt-3" asp-controller="Company" asp-action="Index">
                            <span class="icon-bg"><i class=" menu-icon"></i></span>
                            <span class="menu-title">Company</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link mt-3" data-bs-toggle="collapse" href="#questionsCategoriesMenu" role="button" aria-expanded="false" aria-controls="questionsCategoriesMenu">
                            <span class="icon-bg"><i class="mdi mdi-file-question-outline menu-icon"></i></span> <!-- أيقونة مناسبة للمجموعة -->
                            <span class="menu-title">Questions & Categories</span>
                            <i class="menu-arrow mdi mdi-chevron-down"></i> <!-- سهم للإشارة إلى القائمة المنسدلة -->
                        </a>
                        <div class="collapse" id="questionsCategoriesMenu">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Question" asp-action="Index">
                                        <span class="icon-bg ms-3"><i class="mdi mdi-help-circle menu-icon"></i></span>
                                        <span class="menu-title">Check List</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="TypeQuestion" asp-action="Index">
                                        <span class="icon-bg ms-3"><i class="mdi mdi-format-list-bulleted menu-icon"></i></span>
                                        <span class="menu-title">Check List Type</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="QuestionCategoryType" asp-action="Index">
                                        <span class="icon-bg ms-3"><i class="mdi mdi-tag menu-icon"></i></span>
                                        <span class="menu-title">Question Category</span> <!-- تم تعديلها قليلاً لتكون أوضح -->
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link mt-3" data-bs-toggle="collapse" href="#airportManagementMenu" role="button" aria-expanded="false" aria-controls="airportManagementMenu">
                            <span class="icon-bg"><i class="mdi mdi-airport menu-icon"></i></span> <!-- أيقونة مناسبة للمجموعة مثل مطار -->
                            <span class="menu-title">Airport Management</span>
                            <i class="menu-arrow mdi mdi-chevron-down"></i>
                        </a>
                        <div class="collapse" id="airportManagementMenu">
                            <ul class="nav flex-column sub-menu">
                               
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="FileType" asp-action="Index">
                                        <span class="icon-bg ms-3"><i class="mdi mdi-file-document-outline menu-icon"></i></span> <!-- أيقونة مناسبة لـ File Types -->
                                        <span class="menu-title">File Types</span> <!-- تم تحسين الاسم قليلاً -->
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Location" asp-action="Index">
                                        <span class="icon-bg ms-3"><i class="mdi mdi-map-marker-radius-outline menu-icon"></i></span> <!-- أيقونة مناسبة لـ Locations -->
                                        <span class="menu-title">Airports & Locations</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="CompanyType" asp-action="Index">
                                        <span class="icon-bg ms-3"><i class="mdi mdi-domain menu-icon"></i></span> <!-- أيقونة مناسبة لـ Company Types -->
                                        <span class="menu-title">Company Types</span> <!-- تم تحسين الاسم قليلاً -->
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#users" aria-expanded="false" aria-controls="auth">
                            <span class="icon-bg"><i class="bi bi-people menu-icon"></i></span>
                            <span class="menu-title">Users</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="users">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Users" asp-action="Users">
                                        <span class="icon-bg"></span>
                                        <span class="menu-title">Users</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="Roles" asp-controller="Roles">
                                        Roles
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" data-toggle="collapse" href="#settings" aria-expanded="false" aria-controls="auth">
                            <span class="icon-bg"><i class="bi bi-gear menu-icon"></i></span>
                            <span class="menu-title">Settings</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="settings">
                            <ul class="nav flex-column sub-menu">

                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Admin" asp-action="SiteState">
                                        Site state
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Admin" asp-action="SiteDetails">
                                        Site info & contact
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Mail" asp-action="EmailSettings">
                                        Email Settings
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Mail" asp-action="SendEmail">
                            <span class="icon-bg"><i class="bi bi-envelope-arrow-up menu-icon"></i></span>
                            <span class="menu-title">Email send</span>
                        </a>
                    </li>

                    <li class="nav-item documentation-link">
                        <a class="nav-link" asp-action="UserProfile" asp-controller="Account" asp-route-UserId="" target="_blank">
                            <span class="icon-bg">
                                <i class="mdi mdi-file-document-box menu-icon"></i>
                            </span>
                            <span class="menu-title">Profile</span>
                        </a>
                    </li>
                    <li class="nav-item sidebar-user-actions">
                        <div class="sidebar-user-menu">
                            <a asp-action="Logout" asp-controller="Account" class="nav-link">
                                <i class="mdi mdi-logout menu-icon"></i>
                                <span class="menu-title">Log Out</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
            <!-- partial -->
            <div class="main-panel">
                <div class="m-3">
                    @RenderBody()
                </div>
                <footer class="footer">
                    <div class="footer-inner-wraper">
                        <div class="d-sm-flex justify-content-center justify-content-sm-between">
                            &copy; @DateTime.Now.Year - @ViewBag.SiteName | All rights reserved.
                        </div>
                    </div>
                </footer>
            </div>
        </div>




    </div>

  

    @*------------------------------ Dashboard template -------------------------------*@
    <script src="~/assets1/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/assets1/js/off-canvas.js"></script>
    <script src="~/assets1/js/misc.js"></script>
    @* ------------------------------------------------------------------------------ *@

    <environment include="Development">
        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/lib/jquery/jquery.min.js"></script>

        <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
    </environment>
    <environment include="Staging,Production">
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </environment>

    @* --------------------------------- *@
    <partial name="Partial/_toast"></partial>
    @* --------------------------------- *@

    @RenderSection("Scripts", required: false)
    @RenderSection("Styles", required: false)

</body>
</html>
