@model CompanyCreateVM 

@{
    ViewData["Title"] = ViewContext.RouteData.Values["controller"]?.ToString() +
                        "- " + ViewContext.RouteData.Values["action"]?.ToString();
}
<h4>
    <b>@ViewContext.RouteData.Values["controller"]?.ToString()</b>
    - @ViewContext.RouteData.Values["action"]?.ToString()
</h4>
<hr />



<div class="container" style="min-height:71.5vh;">
    <div class="row">
        @if (ViewBag.Message != null)
        {
            <h5 class="alert alert-danger">@ViewBag.Message</h5>
        }
        <div class="col-md-4">
            <form asp-action="Edit" >
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>



                <div class="form-group">
                    <label asp-for="Company.CompanyTypeId" class="control-label">Company Type</label>
                    <select asp-for="Company.CompanyTypeId" class="form-control" asp-items="@(new SelectList(Model.CompanyTypes, "Id", "Name"))">
                        <option value="">-- Select Company Type --</option>
                    </select>
                    <span asp-validation-for="Company.CompanyTypeId" class="text-danger"></span>
                </div>
                
                
                
                
                <div class="form-group">
                    <label asp-for="@Model.Company.Name" class="control-label"></label>
                    <input asp-for="@Model.Company.Name" class="form-control" />
                    <span asp-validation-for="@Model.Company.Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="@Model.Company.AocNum" class="control-label"></label>
                    <input asp-for="@Model.Company.AocNum" class="form-control" />
                    <span asp-validation-for="@Model.Company.AocNum" class="text-danger"></span>
                </div>
                <div class="alert alert-info" role="alert" style="width:max-content">
                    <p>
                        <b>@Html.DisplayNameFor(model => model.Company.Created):</b>
                        @Html.DisplayFor(model => model.Company.Created)

                    </p>
                    <p>
                        <b>@Html.DisplayNameFor(model => model.Company.Modified):</b>
                        @Html.DisplayFor(model => model.Company.Modified)
                    </p>
                </div>

                <input type="hidden" asp-for="Company.Id" />
                <input type="hidden" asp-for="Company.Created" />
                <input type="hidden" asp-for="Company.Modified" value="@DateTime.Now" />

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-outline-primary">Back to List</a>
                </div>
                


            </form>
          

        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

