@model QuestionType

@{
    ViewData["Title"] = ViewContext.RouteData.Values["controller"]?.ToString() +
                        "- " + ViewContext.RouteData.Values["action"]?.ToString();
}
<h4>
    <b>@ViewContext.RouteData.Values["controller"]?.ToString()</b>
    - @ViewContext.RouteData.Values["action"]?.ToString()
</h4>
<hr />
<div class="container" style="min-height:71.5vh;">
    <div class="row">
        @if (ViewBag.Message != null)
        {
            <h5 class="alert alert-danger">@ViewBag.Message</h5>
        }
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="TypeName" class="control-label"></label>
                    <input asp-for="TypeName" class="form-control" />
                    <span asp-validation-for="TypeName" class="text-danger"></span>
                </div>
                <div class="alert alert-info" role="alert" style="width:max-content">
                    <p>
                        <b>@Html.DisplayNameFor(model => model.Created):</b>
                        @Html.DisplayFor(model => model.Created)

                    </p>
                    <p>
                        <b>@Html.DisplayNameFor(model => model.Modified):</b>
                        @Html.DisplayFor(model => model.Modified)
                    </p>
                </div>

                <div class="form-group">
                    <label asp-for="QuestionsCount " class="control-label"></label>
                    <input asp-for="QuestionsCount" class="form-control" />
                    <span asp-validation-for="QuestionsCount" class="text-danger"></span>
                </div>

                <input type="hidden" asp-for="Created" />
                <input type="hidden" asp-for="QuestionCategoryTypeId" />
                <input type="hidden" asp-for="Modified" value="@DateTime.Now" />

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-outline-primary">Back to List</a>
                </div>

            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

